*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Helvetica Neue', sans-serif;
}
body{
    color: #7300ff;
    background: #000000;
}
.logo{
    display: flex;
    height: 20vh;
    width: 20vh;        
}
.loader{
    justify-content: left;
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    perspective: 800px;
}
.inner{
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
.inner.one{
    left: 0;
    top: 0;
    animation: rotate-one 2s linear infinite;
    border-bottom: 3px solid #efeffa;
    box-shadow: 0px 4px 10px 1px #c8ff00;
}
.inner.two{
    right: 0%;
    top: 0%;
    animation: rotate-two 3s linear infinite;
    border-bottom: 3px solid #efeffa;
    box-shadow: 0px 4px 10px 1px #00ff15;
}
.inner.three{
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-bottom: 3px solid #efeffa;
    box-shadow: 0px 4px 10px 1px #00fff7;
}
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    perspective: 700px;
}
.card img{
    height: 20rem;
    width: 15rem;
    overflow: hidden;
    border-radius: 1rem;
}
.card{
    width: 15rem;
    height: 20rem;
    border-radius: 10px;
    margin: 20px;
    position: relative;
    transition: transform 1500ms;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
}
.card:hover{
    cursor: pointer;
    transform: rotateY(180deg);
}
.front, 
.back{
    height: 20rem;
    width: 15rem;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}
.back{
    color: #efeffa;
    background: linear-gradient(45deg, #5003af, #02970e);
    transform: rotateY(-180deg);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
@keyframes rotate-one{
    0%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
@keyframes rotate-two{
    0%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
@keyframes rotate-three{
    0%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
